/* ******** GLOBAL CSS ******** */
* {margin: 0;padding: 0;box-sizing: border-box;}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Gotu', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  font-family: 'Gotu', 'sans-serif';
}

